/* Breadcrumb Section */

.breadcrumb-area {
    position: relative;
    overflow: hidden;
    background-image: url("../../img/bg/breadcrumb.png") !important;

    nav {
        z-index: 0;
    }

    .bread-shapes {
        img {
            width: inherit;
        }

        .b-shape-1 {
            @include absoluteTopRight(30%, 8%);
            transform: rotate(-93deg);
            width: 75px;
            @include responsive(767) {
                display: none;
            }
        }

        .b-shape-2 {
            @include absoluteBottomLeft(70px, 25%);
            transform: rotate(260deg);
            @include responsive(767) {
                display: none;
            }
        }

        .b-shape-3 {
            @include absoluteTopLeft(43%, 8%);
            width: 85px;
            @include responsive(1199) {
                display: none;
            }
            @include responsive(991) {
                display: none;
            }
            @include responsive(767) {
                display: none;
            }
        }

        .b-shape-4 {
            @include absoluteBottomRight;
        }

        .b-shape-5 {
            @include absoluteTopLeft;
        }

        .b-shape-6 {
            @include absoluteTopRight(65%, 22%);
            transform: rotate(125deg);
            width: 75px;
            @include responsive(767) {
                display: none;
            }
        }
    }

    h2 {
        color: $cl-white;
        text-align: center;
    }

    .breadcrumb {
        background: none;
        display: flex;
        justify-content: center;

        .breadcrumb-item {
            color: $cl-white;
            text-transform: capitalize;

            a {
                color: $cl-white;
                text-transform: capitalize;
                transition: .3s;

                &:hover {
                    color: $cl-red;
                }
            }
        }
    }
}