// Theme colors
$cl-black: #000000;
$cl-blue: #2a435d;
$cl-green: #006633;
$cl-greenl: #669900;
$cl-white: #ffffff;
$cl-white1: #e6e6e6;
$cl-white2: #FFF8EE;
$cl-whitepink: #ffedee;
$cl-whitesmoke: #F8F8F8;
$cl-orange: #ff9933;
$cl-red: #cc3333;

// Fonts
$font-cav: "Caveat", cursive;
$font-pop: "Poppins", sans-serif;
$font-rob: "Roboto", sans-serif;