/* Form */

.form-area {
    margin-top: -33px;
    z-index: 1;

    .form-box {
        padding-left: 40px;
        padding-right: 40px;
        box-shadow: 0px 25px 60px 0px rgba(0, 21, 100, 0.1);
        background: $cl-white;
        position: relative;
        @include responsive (991) {
            background-image: inherit;
        }
        @include responsive (767) {
            background-image: inherit;
        }

        .form-shapes {
            img {
                width: inherit;
            }

            .fs-1 {
                position: absolute;
                top: 0;
                left: -14px;
            }

            .fs-2 {
                position: absolute;
                top: 0;
                right: -14px;
            }

            .fs-3 {
                position: absolute;
                top: 97px;
                left: 115px;
                width: 70px;
            }

            .fs-4 {
                position: absolute;
                top: 97px;
                right: 115px;
                width: 70px;
            }

            .fs-5 {
                position: absolute;
                bottom: 0px;
                right: 0px;
                width: 70px;
                @include responsive (767) {
                    display: none;
                }
            }
            
            .fs-6 {
                position: absolute;
                bottom: 0px;
                left: 0px;
                width: 70px;
                @include responsive (767) {
                    display: none;
                }
            }
            
            .fs-7 {
                position: absolute;
                top: 0px;
                right: 0px;
                width: 70px;
            }
            
            .fs-8 {
                position: absolute;
                bottom: 0px;
                left: 50%;
                width: 50px;
            }
        }

        .form-wraper {
            .form-item2 {
                width: 23%;
                padding: 15px 20px;
                border: 1px solid #e5e5e5;
                border-radius: 5px;
                margin-right: 10px;
                @include responsive (991) {
                    width: 100%;
                    margin-bottom: 20px;
                }
                @include responsive (767) {
                    width: 100%;
                    margin-bottom: 20px;
                }
            }

            button {
                background: $cl-red;
                padding: 12px 40px;
                color: $cl-white;
                font-size: 16px;
                font-family: $font-pop;
                font-weight: 600;
                text-transform: capitalize;
                border: 1px solid transparent;
                transition: .3s;
                @include responsive (991) {
                    width: 100%;
                }
                @include responsive (767) {
                    width: 100%;
                }

                &:hover {
                    background: transparent;
                    color: $cl-red;
                    border: 1px solid $cl-red;
                }
            }
        }
    }
}

.writeto-us {
    .contact-form-area {
        box-shadow: 0px 25px 60px 0px rgba(0, 21, 100, 0.1);
        background: $cl-white;
        padding: 40px 22px;

        h3 {
            font-weight: 700;
            margin-bottom: 40px;

            span {
                color: $cl-red;
            }
        }

        form {
            textarea {
                width: 100%;
                padding: 20px 40px;
                border: 1px solid #e1e1e1;
                border-radius: 5px;
                text-transform: capitalize;
            }

            input {
                @extend textarea;
                margin-bottom: 20px;
            }

            button {
                margin-top: 30px;
            }
        }
    }
}